*.swp
*.csv
*.html
Sample.hs
tmp/
src/demo
dist
stearnswharf-*
*.ods#
dump.py
dumpengi.sh
sw2
sw1
div/
src/examples
src/ghci-sandbox
.cabal-sandbox
cabal.sandbox.config
src/stearnswharf_xml
.stack-work/
feed/
feed2/
feedtmp/
